*{
    padding:0%;
}
.description{
    display:flex;
}
.container{
    display:flex;
}

.logo{
    width:45%;
}

.img{
    display:flex;
    justify-content:center;
    align-items:center;
}