*{
    padding:0%;
}

.container{
    display:flex;
}

.logo{
    width:60%;
    padding:10%;
}

.left-container{
    display:flex;
    color:#f4b41a;
    font-family:archive;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #143d59;   
}

@font-face {
    font-family: archive;
    src: url('Archive.otf');
}