/* .container{
    background-color:black;
    margin-right:75%;
    height:100vh;
}

.logo{
    width:30%;
}

.img{
    position:absolute; 
    display:flex;
    align-items:center;
    justify-content:center;

} */