*{
    padding: 0px;
     font-family:archive;
    overflow-x: hidden;
}
.right{
    width: 100%;
}

.righttop{
    display: flex;
    align-items: center;
    border: 1px solid silver;
    width: 100%;
    font-size: larger;
    background-color:#f4b41a;
    ;
}

.Rlogo{
    width: 10%;
    padding: 10px;
    padding-right: 30px;
}